In [2]:
import pandas as pd

In [8]:
df = pd.read_csv('tradedata.csv',encoding='cp1252')

C:\Users\USER\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df.head()

,Indicator Category,Indicator Code,Indicator,Reporting Economy Code,Reporting Economy ISO3A Code,Reporting Economy,Partner Economy Code,Partner Economy ISO3A Code,Partner Economy,Product/Sector Classification Code,...,Period,Frequency Code,Frequency,Unit Code,Unit,Year,Value Flag Code,Value Flag,Text Value,Value
0,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,0,NaN,World,000,NaN,World,SITC3,...,Annual,A,Annual,IDP,Previous year=100,2019,NaN,NaN,NaN,97.077
1,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,0,NaN,World,000,NaN,World,SITC3,...,Annual,A,Annual,IDP,Previous year=100,2018,NaN,NaN,NaN,110.407
2,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,156,CHN,China,000,NaN,World,SITC3,...,Annual,A,Annual,IDP,Previous year=100,2019,NaN,NaN,NaN,97.314
3,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,156,CHN,China,000,NaN,World,SITC3,...,Annual,A,Annual,IDP,Previous year=100,2018,NaN,NaN,NaN,115.835
4,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,356,IND,India,000,NaN,World,SITC3,...,Annual,A,Annual,IDP,Previous year=100,2018,NaN,NaN,NaN,114.344

In [10]:
df1 = df.loc[:, ['Indicator','Reporting Economy','Partner Economy','Period','Unit','Year','Value']]

In [11]:
df1.head()

,Indicator,Reporting Economy,Partner Economy,Period,Unit,Year,Value
0,Merchandise import value chained indices - annual,World,World,Annual,Previous year=100,2019,97.077
1,Merchandise import value chained indices - annual,World,World,Annual,Previous year=100,2018,110.407
2,Merchandise import value chained indices - annual,China,World,Annual,Previous year=100,2019,97.314
3,Merchandise import value chained indices - annual,China,World,Annual,Previous year=100,2018,115.835
4,Merchandise import value chained indices - annual,India,World,Annual,Previous year=100,2018,114.344

In [12]:
df1.count()

Indicator            47627
Reporting Economy    47627
Partner Economy      47627
Period               47627
Unit                 47627
Year                 47627
Value                47627
dtype: int64

In [23]:
list1 = ['United States of America','India','Italy','China','Spain']

In [24]:
df2 = df1.loc[df['Reporting Economy'].isin(list1)]

In [25]:
df2.head()

,Indicator,Reporting Economy,Partner Economy,Period,Unit,Year,Value
2,Merchandise import value chained indices - annual,China,World,Annual,Previous year=100,2019,97.314
3,Merchandise import value chained indices - annual,China,World,Annual,Previous year=100,2018,115.835
4,Merchandise import value chained indices - annual,India,World,Annual,Previous year=100,2018,114.344
5,Merchandise import value chained indices - annual,India,World,Annual,Previous year=100,2019,94.479
6,Merchandise import value chained indices - annual,Italy,World,Annual,Previous year=100,2018,111.061

In [26]:
df2.count()

Indicator            47174
Reporting Economy    47174
Partner Economy      47174
Period               47174
Unit                 47174
Year                 47174
Value                47174
dtype: int64

In [27]:
list2 = ['Total merchandise imports - monthly','Total merchandise exports - monthly','Commercial services imports of selected economies â€“ monthly','Commercial services exports of selected economies â€“ monthly','Commercial services imports of selected economies (growth) â€“ monthly','Commercial services exports of selected economies (growth) â€“ monthly']

In [28]:
df3 = df2.loc[df['Indicator'].isin(list2)]

In [29]:
df3.head()

,Indicator,Reporting Economy,Partner Economy,Period,Unit,Year,Value
1164,Total merchandise imports - monthly,China,World,January,Million US dollar,2018,181151.000000
1165,Total merchandise imports - monthly,China,World,January,Million US dollar,2019,179664.207480
1166,Total merchandise imports - monthly,China,World,February,Million US dollar,2019,132368.226112
1167,Total merchandise imports - monthly,China,World,February,Million US dollar,2020,299544.204685
1168,Total merchandise imports - monthly,China,World,February,Million US dollar,2018,138345.000000

In [30]:
df3.count()

Indicator            7072
Reporting Economy    7072
Partner Economy      7072
Period               7072
Unit                 7072
Year                 7072
Value                7072
dtype: int64

In [31]:
df3.to_csv('trade-data.csv',encoding='cp1252')